.TeReoToolTip {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.349);
    display: inline-block;
}

.TeReoToolTip:before {
    content: attr(data-originaltext);
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    background: rgba(218, 216, 216, 0.75);
    color: rgba(27, 27, 27, 0.9);
    text-align: center;
    display: none;
    transform: translateY(-30px);
    white-space: nowrap;
}

.TeReoToolTip:hover:before {
    display: inline-block;
}

.DarkTheme.TeReoToolTip {
    border-bottom: 1px dashed rgb(255, 255, 255);
}

.DarkTheme.TeReoToolTip:before {
    background: rgba(58, 55, 55, .75);
    color: rgb(247, 244, 244);
}

.CustomTheme.TeReoToolTip {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.349);
}

.CustomTheme.TeReoToolTip:before {
    background: var(---tooltip-customhexcode);
    color: rgba(27, 27, 27, 0.9);
}

#Form_EditForm_DictionaryIDDarkTheme {
    margin-left: 0%;
}